<div class="well well-large feed-mail">
  <span>邮箱订阅</span>
  <div class="home-noticeline"></div>
  <%= form_for FeedMail.new, :url => subscribe_mail_topics_path, :html => { style: "margin-top:8px;"}, :remote => true do |f| %>
    <span class="help-block">输入邮箱可以订阅也可以退定</span>
    <%= f.text_field :email %>
    <%= f.button "订阅", :value => "subscribe" %>
    <%= f.button "退定", :value => "subscribe" %>
  <% end %>
</div>
