<div class="container" id="home-footer">
  <div class="footer-cont">
    <!-- 关于时阅 -->
    <div class="footsub-about">
      <div class="f-title">
        <p style="font-size:18px;">关于时阅</p>
      </div>
      <div class="f-text" style="padding-right:5px;">
        <span>在这个信息爆炸的时代，人们已然被大量、快速并且简短的信息所包围。然而，我们相信：过多“快餐”式的阅读只会令人“虚胖”，缺乏实质的内涵。十月清新会把精心挑选的内容展示给你。</span>
      </div>
    </div>

    <!-- 时阅博客 -->
    <div class="footsub-blog">
      <div class="f-title">
        <p style="font-size:18px;">时阅博客</p>
      </div>
      <div class="f-text">
        <div style="padding-left:25px;">
          <span><a href="http://weibo.com/shiyueqingxin" target="_blank">http://weibo.com/shiyueqingxin</a></span>
        </div>
      </div>
    </div>

    <!-- 联系方式 -->
    <div class="footsub-link">
      <div class="f-title">
        <p style="font-size:18px;">联系方式</p>
      </div>
      <div class="f-text">
        <span>E-mail: shiyueqingxin@sina.com</span><br />
        <span>冀ICP备13006051号-1</span>
      </div>
    </div>
    <!--  -->
  </div>
</div>
