<div class="container" id="home-footer">
    <div class="hero-unit span10 footer-cont" style="margin-bottom:0px;padding-top:30px;">
        <div class="footsub-about">
            <div class="f-title">
              <p>关于时阅</p>
            </div>
            <div class="f-text">
              <span>在这个信息爆炸的时代，人们已然被大量、快速并且简短的信息所包围。</span>
            </div>
        </div>

        <div class="footsub-blog">
            <div class="f-title">
              <p>时阅博客</p>
            </div>
            <div class="f-text"></div>
        </div>

        <div class="footsub-link">
            <div class="f-title">
	      <p>联系方式</p>
            </div>
            <div class="f-text">
            <span>tiseheaini@126.com</span>
            </div>
	</div>

    </div>
</div>
