<div class="navbar">
  <div class="navbar-inner home-navbar">
	  <%= link_to "LOGO", home_index_path, :class => "brand" %>
		<ul class="nav">
			<li class="active"><%= link_to "主页", home_index_path %></li>
		  <li><a href="#">Link</a></li>
		  <li><a href="#">Link</a></li>
	  </ul>
  </div>
</div>
