<div class="sharesite">
    <div class="qqshare" style="float:left;">
		    <script type="text/javascript">
				(function(){
				var p = {
				url:"<%= @share_site %>",
				showcount:'0',/*是否显示分享总数,显示：'1'，不显示：'0' */
				desc:'',/*默认分享理由(可选)*/
				summary:'',/*分享摘要(可选)*/
				title:'',/*分享标题(可选)*/
				site:'',/*分享来源 如：腾讯网(可选)*/
				pics:'', /*分享图片的路径(可选)*/
				style:'201',
				width:39,
				height:39
				};
				var s = [];
				for(var i in p){
				s.push(i + '=' + encodeURIComponent(p[i]||''));
				}
				document.write(['<a version="1.0" class="qzOpenerDiv" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?',s.join('&'),'" target="_blank">分享</a>'].join(''));
				})();
				</script>
				<script src="http://qzonestyle.gtimg.cn/qzone/app/qzlike/qzopensl.js#jsdate=20111201" charset="utf-8"></script>
    </div>
		<div class="sinashare" style="float:left;">
		    <script type="text/javascript" charset="utf-8">
				(function(){
				  var _w = 32 , _h = 32;
					var param = {
				    url:"<%= @share_site %>",
						type:'1',
						count:'', /**是否显示分享数，1显示(可选)*/
						appkey:'', /**您申请的应用appkey,显示分享来源(可选)*/
						title:'', /**分享的文字内容(可选，默认为所在页面的title)*/
						pic:'', /**分享图片的路径(可选)*/
						ralateUid:'', /**关联用户的UID，分享微博会@该用户(可选)*/
						language:'zh_cn', /**设置语言，zh_cn|zh_tw(可选)*/
						rnd:new Date().valueOf()
					}
					var temp = [];
					for( var p in param ){
					 temp.push(p + '=' + encodeURIComponent( param[p] || '' ) )
					}
					document.write('<iframe allowTransparency="true" frameborder="0" scrolling="no" src="http://hits.sinajs.cn/A1/weiboshare.html?' + temp.join('&') + '" width="'+ _w+'" height="'+_h+'"></iframe>')
					})()
				</script>
		</div>
		<div class="163share" style="float:left;margin-left:6px;">
		    <script type="text/javascript" charset="utf-8">
				(function() {
				function show163Window(){
				var param = [],ustr = [];
				param[0] = 'link=' + encodeURIComponent("<%= @share_site %>");  //link为网站域名
				param[1] = 'source=' + encodeURIComponent(document.title);  //source为网站名称
				param[2] = 'info=' + encodeURIComponent(document.title) + encodeURIComponent(window.location.href);  //info为转发的文字内容(可选，默认为页面title)
				param[3] = 'images=';  //images为传过来的图片地址，多个图片地址用","隔开；若为空会自动抓取转发页面图片
				param[4] = 'togImg=true';//默认显示转发图片(可选，删除true为不显示)
				var url = 'http://t.163.com/article/user/checkLogin.do?';
				url += param.join("&");
				ustr[0] = 'height=330,width=550,top=' + (screen.height - 280) / 2 ;
				ustr[1] = 'left=' + (screen.width - 550) / 2 ;
				ustr[2] = 'toolbar=no, menubar=no, scrollbars=no,';
				ustr[2] += 'resizable=yes,location=no, status=no';
				var s = ustr.join(',');
				window.open(url,'newwindow',s);
				};
				window.show163Window=show163Window;
				})();
				</script>
				<a style="display:block;width:32px;height:32px;background-image:url(http://static.t.126.net/frontend/open/image/sprites/key_v111213.png);background-position:0px -177px;background-repeat:no-repeat;" href="javascript:;" onclick="show163Window()" > </a> 
		</div>
		<div class="doubanshare" style="float:left;margin-left:6px;">
		    <a href="javascript:void(function(){var d=document,e=encodeURIComponent,s1=window.getSelection,s2=d.getSelection,s3=d.selection,s=s1?s1():s2?s2():s3?s3.createRange().text:'',r='http://www.douban.com/recommend/?url='+e(d.location.href)+'&title='+e(d.title)+'&sel='+e(s)+'&v=1',x=function(){if(!window.open(r,'douban','toolbar=0,resizable=1,scrollbars=yes,status=1,width=450,height=330'))location.href=r+'&r=1'};if(/Firefox/.test(navigator.userAgent)){setTimeout(x,0)}else{x()}})()"><%= link_to image_tag("fw2douban.png") %>
		</div>
</div>
