<div class="well well-large" style="background-color:white;font-size:16px;">
  <h2>十月清新</h2>
  <p>
  <span>&nbsp;&nbsp;&nbsp;&nbsp;十月清新是一家小网站，目前测试刚满一个月，目前由两位学生维护。</span>
  <br />
  <span>&nbsp;&nbsp;&nbsp;&nbsp;在这个信息爆炸的时代，人们已然被大量、快速并且简短的信息所包围。   然而，我们相信：过多“快餐”式的阅读只会令人“虚胖”，缺乏实质的内涵。十月清新希望能用自己的力量挑选文章，图片，让那些喜欢阅读，喜欢文章的学生能有一个地方阅读。同时也希望能够让大家知道什么样的文章是大家喜欢的，积累正能量，天天向上。</span>
  </p>
  <h3>缘由</h3>
  <p>
  <span>&nbsp;&nbsp;&nbsp;&nbsp;现在的很多人都喜欢在社交媒体上面挑选文章，阅读文章，可是这些网站每天都会写出十几篇，甚至上百篇的文章，还有那些添加进去就不再阅读的 RSS 列表。其实很多人喜欢阅读，只是大家没有那么多的时间去关注，或者说，文章太多，读也读不晚的文章会让人厌倦。再或者有些文章只是把一些发表的文章换换主人公，然后再搬出来。这些文章都是没有营养的，也是摧残意志的。作者希望通过自己的力量把那些拥有正能量的文章收集起来，让大家阅读，艺术是用来驱逐丑恶的，相信文学也是一种艺术。</span>
  </p>
  <p>我们的网站<%= link_to "十月清新", root_url %></p>
</div>
