<div id="home-main" class="clearfix">
  <div class="well home-main-no-cont">
    <span>我们打烊了</span>
  </div>
  <!--右侧侧边栏-->
	<div class="hero-unit home-main-notice span3">
	  <span>公告</span>
	  <div class="home-noticeline"></div>
	  <span>我们每个小时都会为你提供最好看的文章、图片、音乐，敬请期待</span>
	</div>
	<div class="hero-unit home-main-sidebar span3">
	  <iframe width="220" height="150" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=220&height=150&fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=0&isFans=0&uid=3003263665&verifier=f79bb626&dpc=1"></iframe>
	</div>
  <%= render :partial => "shared/home/feed_mail" %>
  <!--右侧侧边栏-->
</div>
<span id="time" style="display:none;"><%= @time %></span>
