<div class="container">
		<div class="hero-unit home-main-cont">
		<%= (@topic.body).html_safe %>
		<div id="countdown" style="color:red" mce_style="color:red"></div>
		</div>
</div>
<span id="time" style="display:none;"><%= @time %></span>
