<div class="container">
  <div class="hero-unit users-main span10">
    <div class="form-login-style">
      <%= form_tag user_sign_up_action_path do -%>
        <label for="login" class="form-label">帐号：</label>
	    <%= text_field_tag :login, params[:login] %><br />
        <label for="password" class="form-label">密码：</label>
	    <%= password_field_tag :password, params[:password] %><br />
			  
	    <%= submit_tag "登录", :class => "btn" %>
      <% end %>
    </div>
  </div>
</div>
