/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 .footsub-about,.footsub-blog,.footsub-link {
   float:left;
 }
 .footsub-about {
   width: 360px;
 }
 .footsub-blog {
   width: 245px;
 }
 .footsub-blog .f-title {
   padding-left: 25px;
 }
 .footsub-link {
   width: 230px;
 }
.f-text {
  padding-right: 5px;
}
