/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
body {
  background-image:url("main_bg.gif");
}
/**--header navbar stylesheet--**/
.header {
  background-color:white;
}
#home-navbar {
  background-color:#474847;
  padding-top: 16px;
}
.nav-logo a {
  height: 29px;
  font-size: 23px;
  color: white;
  float:left;
  text-decoration: none;
}
.nav-userbar {
  float:right;
  font-size: 16px;
}
/*------------------------------*/
.h-topic-title {
  font-size: 20px;
}
.h-topic-articleline {
  height: 1px;
  width: 100%;
  border-top: #DDD 1px dashed;
  margin: 20px 0;
}
#home-main {
  width: 960px;
}
.home-main-cont {
  background-color:white;
  margin-top: 20px;
  min-height: 300px;
  margin-left: 0px;
  padding-right: 20px;
  float:left;
}
.home-main-no-cont {
  background-color:white;
  margin-top: 20px;
  width:660px;
  min-height: 300px;
  float:left;
}
.home-main-notice {
  background-color:white;
  margin: 20px 0px 24px 0px;
  padding: 18px 10px 23px 10px;
  float:right;
}
.home-noticeline {
  height: 1px;
  width: 100%;
  border-top: #DDD 1px dashed;
  margin: 5px 0;
}
.home-main-sidebar {
  background-color:white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 23px;
  padding-bottom: 6px;
  float:right;
}
/**--- div.feed-mail stylesheet-**/
.feed-mail {
  width: 218px;
  padding: 18px 10px 23px 10px;
  margin-bottom: 30px;
  background-color:white;
  float:right;
}
/**-----------------------------**/
.article-foot {
  overflow:hidden;
  margin-left: -11px;
}
.likebox-info {
  width: 790px;
  height: 37px;
}
.like-info {
  width: 44px;
  height: 17px;
  padding-right: 7px;
  padding-top: 5px;
}
.like-error-info {
  width: 98px;
  height: 17px;
  padding-left: 9px;
  padding-right: 7px;
  padding-top: 5px;
  margin-left: 2px;
}
.likebox {
  float:left;
  padding-top: 2px;
}
.sharesite {
  float:left;
  overflow:hidden;
  margin-left: 24px;
}
.qqshare, .sinashare, .163share, .doubanshare {
  display:inline-block;
}
#countdown {
  width: 330px;
  float:right;
}
/**-- home-footer stylesheet --**/
#home-footer {
  width: 940px;
}
.footer-cont {
  width: 840px;
  margin-left: auto;
  margin-right: auto;
}
