/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
body {
  background-color:gainsboro;
}
.header {
  background-color:white;
}
.home-navbar {
  border: 0px none white;
}
.home-main-cont {
  background-color:white;
  margin-top: 20px;
	min-height: 300px;
}
#countdown {
  position:relative;
	bottom: -87px;
	left: 641px;
	width: 224px;
	display:inline-block;
}
